
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
h3{
  border-radius: 200px;
  color: #8b8b8b;
  font-size: 18px;
  line-height: 28px;
  font-weight:500 ;
}
.card h3{
  color: #000000;
  text-align: center;
  font-family: 'Euclid Circular,sans-serif';
  font-weight: 100px;
  font-size: 150%;
  text-shadow: #8b8b8b;
  text-rendering: geometricPrecision;
}
#card1 .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #8b8b8b;
  border: 2px solid #8b8b8b;
  text-decoration: none;
 }
 #card1 .btn-get-started:hover{
  background-color: #000000 ;
  color: #8b8b8b;
 }
#header{
  background-color: #000000;
  width: 100%;
  height: 120vh;
 
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 24px;
  color:#8b8b8b
}
#header .btn-get-started{
 font-weight: 500;
 font-size: 16px;
 letter-spacing: 1px;
 display: inline-block;
 padding: 10px 30px;
 border-radius: 50px;
 transition: 0.5s;
 color: #8b8b8b;
 border: 2px solid #8b8b8b;
 text-decoration: none;
 margin-left: 34%;
}
#header .btn-get-started:hover{
  background: #8b8b8b;
  color: #000000;
}
.navbar-nav{
  padding-left: 50%;
}
.nav-link {
  color: #8b8b8b !important;
}

.navbar{
  background-color: #172029 !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.isActive{
  font-weight: bold;
  border-bottom: 1px solid #EAAE54;
}
.navbar a:hover{
  color: #EAAE54 !important;
}
.carousel-item{
  width: 100%;
  height: 100%;
}
#carouselExampleCaptions{
  size: 100%;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: #000000;
}
.carousel img {
 
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
  }

.carousel-item{
    padding: 7% 15%;
}
#features{
  padding: 7% 15% 7%;
  background-color: #000000;
  position: relative; 
  
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon:hover{
color: #ef8172;

}
.icon{
  margin-bottom: 1rem;
  color:#a1031b
}

.main {
  margin-top: 50px;
  height: 90vh;
  width: 100%;
  padding-right: 5px;
  display: flex;
  
}

.card{
  margin: 100px auto 0;
  padding: 0 5px 0 5px;
  display: inline-block;
  width: 200px;
  height: 320px;
  perspective: 700px;
  align-items:center
  
}
.card-image{
  width: 100%;
  height: 50%;
}

p{
  color: #8f8f8f;
}


/* For Error page */
.BKG{
 background-color: #000000;
 

  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.BKG1{
  background-color: #ffcd1c;
   top: 100%;
   /* height: %; */
   position: absolute;
   text-align: center;
   padding-top: 3%;
   padding-bottom: 6px;
   width: 100%;
 }

.di{
  position: relative;
}
.img1{
  position: absolute;
  top: 33%;
  right: 1.1%;
 
 
}

.navbar-brand
{
    position: relative;
   
    width: 170px;
    left: 15px;
    background-size: contain;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CARD  STYLE wala */

#parent .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #8b8b8b;
  border: 2px solid #8b8b8b;
  text-decoration: none;
  margin-left: 43%;
  margin-bottom: 50px;
  margin-top: 5%;
 }
 #parent .btn-get-started:hover{
   background: #acabab;
   color: #000000;
  
 }
.parentcard h3{
  border-radius: 200px;
  color: #8b8b8b;
  padding-left: 17%;
  font-size: 18px;
  line-height: 28px;
  font-weight:500 ;
  padding-bottom: 80px;
}
.parentcard{
  background-color: #000000;
  padding-bottom: 5%;
}
h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: white;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #737673;
	margin-bottom: 1.5rem;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 75vmin;
	height: 25em;
	border: 8px solid;
	border-image: linear-gradient(-50deg, rgb(89, 91, 89), #747874, rgb(135, 139, 135), rgb(157, 163, 157), rgb(195, 199, 195), #d6d7d6, rgb(106, 107, 106)) 1;
	margin: 2rem auto;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #575757;
	transition: .4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#b7b7b5 5%,
      	rgb(116, 117, 116) 35% 65%,
      	#b7b7b5 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://i.ibb.co/LzFKbbJ/Hotpot-9.png");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}
.image-content2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://i.ibb.co/FmMCVB4/Hotpot-8.png");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: #172029;
	border: 1px solid rgb(55, 53, 53);
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #2e2e2e;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
}

.wrap:hover .overlay
 {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: rgb(189, 188, 188);
}


/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}

/* card Award */
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.award{
  background-color: #000000;
  padding-bottom: 120px;
}
#AWARD .card{
 
  background-color: #8b8b8b;
}
.role{
  background-color: #000000;
  padding-bottom: 120px;
}
.role h3{
  border-radius: 200px;
  color: #8b8b8b;
  padding-left: 4%;
  font-size: 18px;
  line-height: 28px;
  font-weight:500 ;
  padding-bottom: 80px;
}

.teacher h2{
 
  
  color: #8b8b8b;
  padding-bottom: 12px;
  font-size: 28px;
  line-height: 28px;
  font-weight:500 ;

}

.xyz{
  width: 70%;
  border-bottom:1px solid rgb(201, 38, 38);
 
  margin-left: 4%;
}
.xyz1{
  width: 70%;
  border-bottom:1px solid #4ba3ea;
  padding-top: 4%;
  margin-left: 4%;
}
.apply h2{
  border-radius: 200px;
  color: #8b8b8b;
  padding-left: 4%;
  font-size: 28px;
  line-height: 28px;
  font-weight:500 ;
  padding-top: 4px;
  padding-bottom: 4px;
}
#apply .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 45px;
  /* border-radius: 50px; */
  color: #8b8b8b;
  /* border: 2px solid #8b8b8b; */
  text-decoration: none;
  margin-left: 45%;
  color: #61dafb;
  /* margin-bottom: 50px; */
  /* margin-top: 5%; */
 
}

/* IMAGE GALLARY */
.Imageg{
  background-color: #000000;
}
.Imageg h3{
  border-radius: 200px;
  color: #8b8b8b;
  padding-left: 4%;
  font-size: 18px;
  line-height: 28px;
  font-weight:500 ;
  padding-bottom: 80px;
}

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(188, 188, 188, 0.475);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  color: #646363;
  font-family: 'Euclid Circular,sans-serif';
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
  
}

.growth{
  background-color: #000000;
}
.growth h3{
  border-radius: 200px;
  color: #8b8b8b;
  padding-left: 4%;
  font-size: 18px;
  line-height: 28px;
  font-weight:500 ;
  padding-bottom: 8px;
}

.growth1{
  padding: 4% 10% 10% 10%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display:flexbox;
}
#footer{
  text-align:center;
  padding-bottom: 8px;
  background-color: #000000;
}
.ABOUT{
  background-color: #000000;
}
.about1{
  background-color: #000000;
}
.title-image{
  width: 80%;
  height: 80%;
  padding: 70px 0 20px 120px;
  
}
.title-image1{
  width: 75%;
  height: 75%;
  padding: 70px 0 20px 120px;
  
  
}
.Programms{
  background-color: #000000;
}
.prg0{
  background-color: #000000;
}
.prg1{
  background-color: #000000;
}

/* FORM */
.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder .form-content {
position: relative;
text-align: center;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
padding: 60px;
}

.form-content .form-items {
border: 3px solid #fff;
padding: 40px;
display: inline-block;
width: 100%;
min-width: 540px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-align: left;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.form-content h3 {
color: #fff;
text-align: left;
font-size: 28px;
font-weight: 600;
margin-bottom: 5px;
}

.form-content h3.form-title {
margin-bottom: 30px;
}

.form-content p {
color: #fff;
text-align: left;
font-size: 17px;
font-weight: 300;
line-height: 20px;
margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
width: 100%;
padding: 9px 20px;
text-align: left;
border: 0;
outline: 0;
border-radius: 6px;
background-color: #8b8b8b;
font-size: 15px;
font-weight: 300;
color: #080808;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
margin-top: 16px;
}


.btn-primary{
background-color: #6C757D;
outline: none;
border: 0px;
 box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
background-color: #495056;
outline: none !important;
border: none !important;
 box-shadow: none;
}

.form-content textarea {
position: static !important;
width: 100%;
padding: 8px 20px;
border-radius: 6px;
text-align: left;
background-color: #8b8b8b;
border: 0;
font-size: 15px;
font-weight: 300;
color: #1e1d1d;
outline: none;
resize: none;
height: 120px;
-webkit-transition: none;
transition: none;
margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
border: 0;
background-color: #8b8b8b;
color: #8D8D8D;
}

.mv-up{
margin-top: -9px !important;
margin-bottom: 8px !important;
}

.invalid-feedback{
color: #ff606e;
}

.valid-feedback{
color: #2acc80;
}
.contact{
  background-color: #000000;
}
.parents{
 background-color: #000000;
}
.parents1{
  background-color: #000000;
 }